<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
        <link rel="stylesheet" href="/styles/resets.scss" type="scss">
        <link rel="stylesheet" href="/styles/base.scss" type="scss">
        <link rel="stylesheet" href="/styles/header.scss" type="scss">
        <link rel="stylesheet" href="/styles/form.scss" type="scss">
        <link rel="stylesheet" href="/styles/footer.scss" type="scss">
    </head>

    <body>

        <header>
            <div>
                TRAVEL APP
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="name">Travelling To:</label>
                    <input id="name" type="text" name="input" value="" placeholder="Enter City Here">
                    <span id="city-error" class="error"></span>
                    <label for="date">Travel Date:</label>
                    <input type="date" id="date" name="date" value="">
                    <span id="date-error" class="error"></span>
                    <span id="common-error" class="error"></span>
                    <input type="submit" name="" value="Vacayyy!" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)" class="button">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="res1"></div>
                    <div id="res2"></div>
                    <div id="res3"></div>
                    <div id="res4"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>I'm a Travel App</p>
        </footer>

        <script>
            window.addEventListener('load', () => {
                // For setting up min max dates since API returns forecasted data of weather only upto 16 days
                Client.evaluateDate();
            });
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                    Client.evaluateDate();
                });
            }
        </script>
    </body>
</html>
