body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(136,203,171);
    background: linear-gradient(180deg, rgb(236, 234, 104) 0%, rgb(114, 125, 136) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #323232;
    font-weight: 700;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;

    section{
        max-width: 80%;
    }

    &#card{
        display: flex;
        justify-content: center;
        align-items: center;
        #travel-card{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            max-width: 440px;
            box-shadow: 0px 0px 20px #323232;
            div{
                display: flex;
                flex-direction: column;
                span{
                    margin: 5px 0 5px 0;
                }
                img{
                    max-width: 300px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section {
        &#card{
            #travel-card{
                max-width: 300px;
                div{
                    img{
                        max-width: 220px;
                    }
                }
            }
        }
    }            
}