form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 5px 0px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    &.button{
        width: 50%;
    }
}

textarea:focus, input:focus{
    outline: none;
}

.error{
    color: red;
}
