form {
    border-radius: 3px;
    margin: 100px 20px 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #323232;
    color: #323232;
}

input {
    padding: 5px 5px;
    width: 75%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 5px;
    &.button{
        width: 40%;
        border-radius: 10px;
        font-weight: 700;
    }
}

textarea:focus, input:focus{
    outline: none;
}

.error{
    color: red;
}
